@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url('../img/Tavern.jpg');
    opacity: 0.5;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Cormorant', serif;
}


.burger-section {
    background-color: black;
    color:white;
}


.lactose {
    color: darkorange;
    font-weight: bold;
}

button:hover {
    background-color: darkgrey;
    color: black;
}

button:active {
    background-color: grey;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
    color: black;
    border: 2px dashed black;
    border-radius: 10px;
    background-color: #f2f2f2;
}